*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.play-in {
    width: 124px;
    height: 124px;
    position: absolute;
    transition: all 0.4s;
    @media (max-width:767px){
        width: 75px;
        height: 75px;
    }
    @media (max-width:575px){
        width: 65px;
        height: 65px;
    }
    a{
        color: $white;
    }
    &:hover{
        background-color: $primary-color;
        color: $white;
    }
}
