.hero-section{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 290px 0;
    &::before{
        position: absolute;
        content: "";
        right: -172px;
        width: 349px;
        height: 349px;
        top: 50%;
        border-radius: 174px;
        background-color: #ffffff;
        transform: translateY(-50%);
    }
    .slider-content{
        display: inline-block;
        h1{
            font-size: 100px;
            color: $white;
            font-weight: 700;
            margin: 0;
            position: relative;
            font-family:  "Montserrat", sans-serif;
            span{
                color: $primary-color;
                font-size: 100px;
                font-family: sans-serif;
                position: absolute;
                bottom: 25px;
            }
        }
        h2{
            font-size: 40px;
            color: $white;
            font-weight: 600;
            position: relative;
            margin-left: 70px;
            margin-top: 30px;
            &::before{
                position: absolute;
                content: "";
                width: 60px;
                height: 2px;
                background-color: $primary-color;
                top: 27px;
                left: -65px;
            }
        }
        h4{
            font-size: 24px;
            line-height: 26px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            margin-top: 30px;
        }
    }
    .bottom-button{
        position: absolute;
        left: 40px;
        bottom: 0;
        a{
            color: $white;
            span{
                margin-left: 10px;
            }
        }
    }
    .bottom-video{
        position: absolute;
        bottom: 0;
        right: 50%;
        a{
            display: inline-block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 30px;
            background-color: #009e66;
            color: $white;
        }
    }
    .bottom-social{
        position: absolute;
        bottom: 0;
        right: 40px;
        ul{
            li{
                a{
                    display: inline-block;
                    color: $white;
                    margin-left: 15px;
                    transition: .5s;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}