.brand-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .brand-list{
        .single-brand-box{
            .brand-thumb{
                padding: 30px 60px;
                background: #212121;
                width: 202px;
                height: 127px;
                img{
                    width: 100%;
                }
            }
        }
    }
}

//=================portfolio section
.portfolio-section{
    background: #101010;
    .portfolio-nav{
        .portfolio-menu{
            .menu-filtering{
                li{
                    display: inline-block;
                    margin-right: 40px;
                    cursor: pointer;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                    font-size: 16px;
                    line-height: 52px;
                    color: $white;
                    font-weight: 500;
                    transition: .5s;
                    font-family: "Montserrat", sans-serif;
                    &.current-menu-item{
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .single-portfolio-box{
        overflow: hidden;
        .thumb{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(16, 16, 16, 0.6);
                z-index: 1;
                right: 0;
                margin: auto;
                bottom: 0;
                opacity: 0;
                transform: scale(0);
                transition: .5s;
            }
            .content{
                position: absolute;
                top: 0%;
                right: 0;
                left: 0;
                margin: 0 auto 0;
                text-align: center;
                opacity: 0;
                transition: .5s;
                z-index: 1;
                h3{
                    font-size: 22px;
                    line-height: 26px;
                    color: #ffffff;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                    transition: .5s;
                    text-align: center;
                }
                span{
                    font-size: 16px;
                    line-height: 26px;
                    color: #009e66 !important;
                    font-weight: 500;
                    transition: .5s;
                    font-family: "Montserrat", sans-serif;
                    text-align: center;
                }
            }
        }
        &:hover .thumb{
            &::before{
                opacity: 1;
                transform: scale(1);
            }
            .content{
                opacity: 1;
                top: 45%;
            }
        }
    }
}


//=============counter section

.counter-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .counter-box{
        .counter,span{
            font-size: 46px;
            line-height: 26px;
            color: #05875a;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            display: inline-block;
        }
        p{
            font-size: 18px;
            line-height: 26px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            margin-top: 10px;
        }
    }
}


//============testimonial section
.testimonial-section{
    background: #101010;
    .testi-left{
        .testi-title{
            h4{
                font-size: 22px;
                line-height: 26px;
                color: #009e66;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
            }
            h3{
                font-size: 32px;
                color: #ffffff;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
                line-height: 28px;
                color: #7c838e;
                font-weight: 400;
                font-family: "Poppins", sans-serif;
            }
        }
    }
    .testi-right{
        .testi-single-box{
            padding: 40px 30px 30px 40px;
            background: #1b1b1b;
            position: relative;
            .thumb{
                float: left;
                margin-right: 20px;
            }
            .title{
                margin: 11px 0;
                h3{
                    font-size: 24px;
                    line-height: 26px;
                    color: #ffffff;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                }
                span{
                    font-size: 16px;
                    line-height: 26px;
                    color: #009e66;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                }
            }
            .text{
                p{
                    margin-top: 40px;
                    opacity: 0.800;
                    font-size: 16px;
                    line-height: 28px;
                    color: #ffffff;
                    font-weight: 400;
                    font-style: italic;
                    font-family: "Poppins", sans-serif;
                }
            }
            .icon{
                margin-top: 20px;
                ul{
                    display: inline-block;
                    li{
                        display: inline-block;
                        color: $primary-color;
                        margin-right: 5px;
                    }
                }
            }
            .shape{
                position: absolute;
                top: 30px;
                right: 30px;
            }
            .owl-nav {
            }
        }
    }
}
